@using DataLayer.PersistanceLayer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    @Scripts.Render("~/bundles/jsGrid")
    @Styles.Render("~/Content/cssGrid")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body class="zero-space-body">
    <div class="container-fluid">
        <div class="row no-margin-right">
            @if (HttpContext.Current.Session["UserId"] != null)
            {
                <div class="col-md-2 left-sidebar">
                    <ul id="sidebar">
                        <li class="black-border" style="font-weight:bold;"><a style="text-decoration:none;color:#ffdc78">@Session["UserFullName"]</a></li>
                        <li class="black-border"><span class="glyphicon glyphicon-road icon-right-position"></span>@Html.ActionLink("Curse", "Index", "Drive", null, new { @class = "menu-item-clickable-aria" })</li>
                        <li class="black-border"><span class="fa fa-truck icon-right-position"></span>@Html.ActionLink("Camioane", "Index", "Truck", null, new { @class = "menu-item-clickable-aria" })</li>
                        <li class="black-border"><span class="far fa-address-card icon-right-position"></span>@Html.ActionLink("Soferi", "Index", "Worker", null, new { @class = "menu-item-clickable-aria" })</li>
                        <li class="black-border"><span class="fas fa-user-plus icon-right-position"></span>@Html.ActionLink("Adauga Utilizator", "Index", "Users", null, new { @class = "menu-item-clickable-aria" })</li>
                        <li class="black-border" data-toggle="modal" data-target="#notificationsModal"><i id="bellIcon" class="bell-icon far fa-bell icon-right-position icon-black badge"> </i><a href="#" class="menu-item-clickable-aria">Notificari</a></li>
                    </ul>
                </div>
            }
            <div class="@(HttpContext.Current.Session["UserId"] != null ? "col-md-10" : "co-md-12")">
                <div id="errorDialog" title="Error"></div>
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="modal fade" id="notificationsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content modal-custom">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notificari</h4>
                </div>
                <div class="modal-body">
                    @if (HttpContext.Current.Session["UserId"] != null)
                    {
                        if (((List<Notification>)Session["Notifications"]).Count > 0)
                        {
                            if (((List<Notification>)Session["Notifications"]).Where(x => x.NotificationType == 0).ToList().Count > 0)
                            {
                                <h5>Acte care urmeaza sa expire</h5>
                                <div class="notification-list">
                                @foreach (var notification in ((List<Notification>)Session["Notifications"]).Where(x => x.NotificationType == 0))
                                {
                                    <div class="alert alert-warning" role="alert"><a href="@notification.NotificationLink">@notification.NotificationText</a></div>
                                }
                                </div><br/>
                            }
                            if (((List<Notification>)Session["Notifications"]).Where(x => x.NotificationType == 1).ToList().Count > 0)
                            {
                                <h5>Acte expirate</h5>
                                <div class="notification-list">
                                @foreach (var notification in ((List<Notification>)Session["Notifications"]).Where(x => x.NotificationType == 1))
                                {
                                    <div class="alert alert-danger" role="alert"><a href="@notification.NotificationLink">@notification.NotificationText</a></div>
                                }
                                </div>
                            }
                        }
                        else {
                            <h5>Nu exista notificari noi!</h5>
                        }
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Inchide</button>
                    </div>
                    }
                </div>
            </div>
        </div>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
        $("#errorDialog").dialog({
            autoOpen: false,
            maxHeight: 500,
        }).prev(".ui-dialog-titlebar").css("background", "red");

        var str = @Session["NotificationNumber"];
        document.styleSheets[0].addRule('i.badge:after', 'content: "' + str + '";');
        </script>
</body>
</html>
