<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsGrid")
    @Styles.Render("~/Content/cssGrid")
</head>
<body>

    <div class="container-full zero-space-body">
        @if (HttpContext.Current.Session["UserId"] != null)
        {
            <div class="col-md-1 margin-left-small">
                <nav>
                    <ul class="nav nav-pills nav-stacked span2">
                        <li class="text-center black-border">@Html.ActionLink("Acasa", "Index", "Truck")</li>
                        <li class="text-center black-border">@Html.ActionLink("Camioane", "Index", "Truck")</li>
                        <li class="text-center black-border">@Html.ActionLink("Soferi", "Index", "Worker")</li>
                        <li class="text-center black-border">@Html.ActionLink("Curse", "Index", "Drive")</li>
                    </ul>
                </nav>
            </div>
        }
        <div class="@(HttpContext.Current.Session["UserId"] != null ? "col-md-10" : "co-md-12")">
            @if (HttpContext.Current.Session["UserId"] != null)
            {
                <label class="right-side" onclick="loginController.logout()">@Html.ActionLink("Logout", "Logout", "Login")</label>
            }
            @RenderBody()
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
