<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/jsGrid")
    @Styles.Render("~/Content/cssGrid")
</head>
<body class="zero-space-body">
    <div class="container-fluid">
        <div class="row">
            @if (HttpContext.Current.Session["UserId"] != null)
            {
        <div class="col-md-1">
            <div id="wrapper" class="active">
                <div id="sidebar-wrapper">
                    <ul id="sidebar_menu" class="sidebar-nav">
                        <li class="sidebar-brand"><a id="menu-toggle" href="#">Meniu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                    </ul>
                    <ul class="sidebar-nav" id="sidebar">
                        <li class="black-border">@Html.ActionLink("Acasa", "Index", "Truck")</li>
                        <li class="black-border">@Html.ActionLink("Camioane", "Index", "Truck")</li>
                        <li class="black-border">@Html.ActionLink("Soferi", "Index", "Worker")</li>
                        <li class="black-border">@Html.ActionLink("Curse", "Index", "Drive")</li>
                        <li class="black-border">@Html.ActionLink("Adauga Utilizator", "Index", "Users")<span class="sub_icon glyphicon glyphicon-plus"></span></li>

                    </ul>
                </div>
            </div>
        </div>
            }
        <div class="@(HttpContext.Current.Session["UserId"] != null ? "col-md-11" : "co-md-12")">
            <div id="errorDialog" title="Error"></div>
                @if (HttpContext.Current.Session["UserId"] != null)
                {
                <button class="btn btn-primary logout-button"><span class="glyphicon glyphicon-log-out"> @Html.ActionLink("Logout", "Logout", "Login", null, new { @class = "no-text-decoration" })  </span></button>
                }
                @RenderBody()
        </div>
        </div>
        </div>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $("#errorDialog").dialog({
                autoOpen: false,
                maxHeight: 500,
            }).prev(".ui-dialog-titlebar").css("background", "red");
        </script>
</body>
</html>
