<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/jsGrid")
    @Styles.Render("~/Content/cssGrid")
</head>
<body class="zero-space-body">
    <div class="container">
        <div class="row">
            @if (HttpContext.Current.Session["UserId"] != null)
            {
        <div>
            <div id="wrapper" class="active">
                <!-- Sidebar -->
                <!-- Sidebar -->
                <div id="sidebar-wrapper">
                    <ul id="sidebar_menu" class="sidebar-nav">
                        <li class="sidebar-brand"><a id="menu-toggle" href="#">Meniu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
                    </ul>
                    <ul class="sidebar-nav" id="sidebar">
                        <li class="text-center black-border">@Html.ActionLink("Acasa", "Index", "Truck")</li>
                        <li class="text-center black-border">@Html.ActionLink("Camioane", "Index", "Truck")</li>
                        <li class="text-center black-border">@Html.ActionLink("Soferi", "Index", "Worker")</li>
                        <li class="text-center black-border">@Html.ActionLink("Curse", "Index", "Drive")</li>
                        <li><a>Adauga utilizator<span class="sub_icon glyphicon glyphicon-plus"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
            }
        <div class="@(HttpContext.Current.Session["UserId"] != null ? "col-md-12" : "co-md-12")">
            @if (HttpContext.Current.Session["UserId"] != null)
    {
        <label class="right-side" onclick="loginController.logout()">@Html.ActionLink("Logout", "Logout", "Login")</label>
}
            <div id="errorDialog" title="Error"></div>
            @RenderBody()
        </div>
        </div>
        </div>
        @RenderSection("scripts", required: false)
        <script type="text/javascript">
            $("#errorDialog").dialog({
                autoOpen: false,
                maxHeight: 500,
            }).prev(".ui-dialog-titlebar").css("background", "red");
        </script>
</body>
</html>
