
@{
    ViewBag.Title = "Editare cursa";
}

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-inverse nav-bar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="headerLabel" class="navbar-brand nav-bar-text" href="#"></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<form name="saveDrive" class="edit-panel" onsubmit="editDriveController.validateAndSaveDrive();">
    <div id="generalInformation">
        <h3 class="details-header">Informatii generale cursa</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Sofer</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="@Resources.Labels.Sofer" onchange="editDriveController.setTruckForWorker();" id="driver" required>
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var worker in ViewBag.WorkersForDropDown)
                                        {
                                            <option value="@worker.Id" id="@worker.Id" truck-id="@worker.Truck">@worker.WorkerName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Camion</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="@Resources.Labels.Camion" name="truck" id="truck" required>
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var truck in ViewBag.TrucksForDropDown)
                                        {
                                            <option value="@truck.Id">@truck.RegistrationNumber</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Vlaplan</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.Vlaplan" id="vlaplan" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Vlarref</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.Vlarref" id="vlaref" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.LocIncarcare</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.LocIncarcare" id="loadingPlace" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.LocDescarcare</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.LocDescarcare" id="destination" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.KMGpsInitiali</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.KMGpsInitiali" id="KMGpsInitiali" step="0.01" type="number" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.KMGpsFinal</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.KMGpsFinal" id="KMGpsFinal" step="0.01" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.KMGps</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" oninput="editDriveController.calculateDifference();" placeholder="@Resources.Labels.KMGps" id="KMGps" step="0.01" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.KMGgl</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.KMGgl" id="KMGpl" step="0.01" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.KMDFSD</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" oninput="editDriveController.calculateDifference();" placeholder="@Resources.Labels.KMDFSD" id="KMDFSD" step="0.01" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Diferenta</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" readonly placeholder="@Resources.Labels.Diferenta" id="difference" step="0.01" type="number" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Remorca</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="trailer" placeholder="@Resources.Labels.Remorca" step="0.01" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Motiv</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.Motiv" id="reason" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Data</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="date" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Tonaj</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="tons" placeholder="@Resources.Labels.Tonaj" step="0.01" type="number" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.StareCursa</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" placeholder="@Resources.Labels.StareCursa" onchange="editDriveController.setTruckForWorker();" id="driver">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                        @foreach (var worker in ViewBag.WorkersForDropDown)
    {
                                    <option value="@worker.Id" id="@worker.Id" truck-id="@worker.Truck">@worker.WorkerName</option>
}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expirationDetails">
        <h3 class="details-header">@Resources.Labels.Cheltuieli</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.CheltuieliSofer</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="workerCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="workerCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.SpecificatieCheltuieli</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="@Resources.Labels.SpecificatieCheltuieli" step="0.01" id="costsSpecifications" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.CheltuieliPlatite</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="payedCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="payedCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.CheltuieliDeDecontat</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="settlementCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="settlementCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-gbp"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.TotalPlati</label>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="totalCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <input class="form-control" step="0.01" id="totalCosts" type="number" />
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-euro"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <nav class="navbar navbar navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="btn-group right-side">
                <button type="submit" id="btnSaveDrive" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> @Resources.Labels.Salvare</button>
                <button type="button" onclick="editDriveController.cancelEdit();" id="btnCancelSaveDrive" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> @Resources.Labels.Anulare</button>
            </div>
        </div>
    </nav>
</form>

<script src="~/Scripts/Pages/editDriveController.js"></script>

<script>
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }

    addLoadEvent(function () {
        if (editDriveController.truckId) {
            document.getElementById('headerLabel').innerHTML = 'Editare cursa';
        } else {
            document.getElementById('headerLabel').innerHTML = 'Adaugare cursa';
        }

    });
</script>