@{
    ViewBag.Title = "Login Page";
}

<script src="~/Scripts/Pages/loginController.js"></script>

<body class="login-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-5 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <div class="panel panel-default box-shadow">
                        <div class="panel-heading">
                            <span style="color:black; font-size:125%;">@Resources.Labels.Autentificare</span>
                            <span class="text-muted pull-right today" title="Today"></span>
                        </div><!--.panel-heading-->
                        <img src="~/Content/Images/login-icon.png" class="img-responsive" style="width:250px; height:auto; display:block; margin:0 auto;">
                        <div class="panel-body">
                            <form method="POST" name="loginForm">
                                <div class="form-group">
                                    <label for="email">@Resources.Labels.Email</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                        <input autofocus required type="email" id="email" class="form-control" placeholder="@Resources.Labels.IntoducetiEmail" tabindex="1">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">@Resources.Labels.Parola</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></div>
                                        <input required type="password" id="password" class="form-control" placeholder="@Resources.Labels.IntoducetiParola" tabindex="2">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary" onclick="loginController.validateLogin()" tabindex="3">@Resources.Labels.Autentificare</button>
                            </form>
                        </div>
                    </div><!--.panel-->
                </div><!--.cols-->
            </div><!--.row-->
        </div><!--.container-->
</body>