
@{
    ViewBag.Title = "Adaugare soferi";
}
<script src="~/Scripts/Pages/editWorkerController.js"></script>

<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-inverse nav-bar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a id="headerLabel" class="navbar-brand nav-bar-text" href="#"></a>
                </div>
            </div>
        </nav>
    </div>
</div>
<form name="saveWorker" class="edit-panel" onsubmit="editWorkerController.validateAndSaveWorker();">
    <div id="generalInformation">
        <h3 class="details-header">Informatii generale</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.NumeSofer</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Nume" id="firstName" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.PrenumeSofer</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="Prenume" id="surname" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataNasterii</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="birthDay" placeholder="dd/MM/yyyy" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataAngajarii</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="employmentDate" placeholder="dd/MM/yyyy" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Firma</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" name="employer" id="employer" required>
                                        <option value="1">S.C. MOBA TEHNIC ABN S.R.L.</option>
                                        <option value="2">S.C. ALBINA DRUMSERV S.R.L.</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.Camion</label>
                                </div>
                                <div class="col-md-6">
                                    <select class="form-control" name="truck" id="truck" placeholder="camion" required>
                                        @foreach (var truck in ViewBag.TrucksForDropDown)
                                        {
                                        <option value="@truck.Id">@truck.RegistrationNumber</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.ActIdentitate</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="identityDocument" placeholder="Serie act identitate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.CNP</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" id="cnp" placeholder="CNP" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="expirationDetails">
        <h3 class="details-header">@Resources.Labels.ValabilitateActe</h3>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataExpirarePermis</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="drivingLicenseExpirationDate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataExpirareAtestat</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="certificateExpirationDate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row fields-padding">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataExpirareCardTahograf</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="tachographCardExpirationDate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <label>@Resources.Labels.DataExpirareAnalizeMedicale</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" placeholder="dd/MM/yyyy" id="medicalTestsExpirationDate" type="text" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
    <div class="row" id="saveButtons">
        <div class="col-sm-9 col-lg-9 col-md-9"></div>
        <div class="col-sm-3 col-lg-3 col-md-3">
            <div class="btn-group right-side">
                <button type="submit" id="btnSaveTruck" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> @Resources.Labels.Salvare</button>
                <button type="button" onclick="editWorkerController.cancelEditWorker();" id="btnCancelSaveTruck" class="btn btn-danger"><span class="glyphicon glyphicon glyphicon-remove"></span> @Resources.Labels.Anulare</button>
            </div>
        </div>
    </div>
</form>

<script>
    function addLoadEvent(func) {
        var oldonload = window.onload;
        if (typeof window.onload != 'function') {
            window.onload = func;
        } else {
            window.onload = function () {
                if (oldonload) {
                    oldonload();
                }
                func();
            }
        }
    }

    addLoadEvent(function () {
        if (editTruckController.truckId) {
            document.getElementById('headerLabel').innerHTML = 'Editare sofer';
        } else {
            document.getElementById('headerLabel').innerHTML = 'Adaugare sofer';
        }

    });
</script>

